
@import url('https://fonts.googleapis.com/css?family=Anton|Lobster&display=swap');
/*Cores*/
:root{
    --branco:#fff;
    --verde:rgb(14, 248, 84);
    --bg-principal: #203760;
}
/*Resets*/
a {text-decoration:none!important;}
ul{list-style-type:none!important;padding:0;margin:0;}

/*Header*/
header{display:flex;align-items: center;width:100%;height:90px;background-color: var(--bg-principal);}
.logo{width:50%;display:flex;justify-content:center;}
.logo a {color: var(--branco);font-family: 'Lobster', cursive;}
nav{width: 50%;display:flex;justify-content:center;}
nav ul{display:flex;}
nav li a {color:var(--branco);text-transform:uppercase;font-family: 'Anton', sans-serif;padding:0 1rem;}
nav li a:hover{color:var(--verde);}
#toggle {display:none;}

/*Footer*/
footer{width:100%;height:70px;display:flex;justify-content:center;align-items:center;background-color: var(--bg-principal);color:var(--branco);margin-top:1rem;}